Repository tumf/fastmcp-gsuite: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-ascii, check-secrets

check-non-ascii:
  name: Check for non-ASCII characters in code files
  entry: python -c "import sys, re; sys.exit(1 if any(re.search(r'[^\x00-\x7F]', open(f, 'r', encoding='utf-8').read()) for f in sys.argv[1:]) else 0)"
  language: python

check-secrets:
  name: Check for unencrypted secrets
  ...

Remove unused .secrets.baseline file
  .secrets.baseline
Due: check-secrets

Switch to detect-secrets library for better secret detection
  .pre-commit-config.yaml
  Makefile
Due: none

Remove deprecated configuration and test files
  smithery.yaml
  test_file.txt
Due: check-secrets

E2Eテスト環境の改善: 環境変数対応、テストアカウント作成スクリプト追加、テストコード修正
  .vscode/settings.json
  Makefile
  README.md
  scripts/create_test_account.sh
  tests/e2e/test_mcp_google_suite.py
  tests/e2e/test_mcp_gsuite.py
  tests/simple_server.py
  tests/test_simple_server.py
Due: check-secrets

Implement E2E tests using real Google accounts (Add GDrive/Tasks/Contacts tests, adjust CI workflow, update Makefile & README)
  .github/workflows/test.yml
  Makefile
  README.md
  tests/e2e/test_mcp_contacts.py
  tests/e2e/test_mcp_gdrive.py
  tests/e2e/test_mcp_tasks.py
Due: check-secrets

Replace all Japanese comments with English in code and documentation
  .github/workflows/test.yml
  README.md
  tests/e2e/test_mcp_contacts.py
  tests/e2e/test_mcp_gdrive.py
  tests/e2e/test_mcp_gsuite.py
  tests/e2e/test_mcp_tasks.py
  tests/simple_server.py
  tests/test_simple_server.py
Due: check-secrets

Update black version and fix code formatting
  .pre-commit-config.yaml
  tests/e2e/test_gmail_api.py
  tests/e2e/test_google_auth.py
  tests/e2e/test_mcp_contacts.py
  tests/e2e/test_mcp_gdrive.py
  tests/e2e/test_mcp_google_suite.py
  tests/e2e/test_mcp_gsuite.py
  tests/e2e/test_mcp_tasks.py
  tests/test_simple_server.py
Due: check-secrets

Replace Black and isort with Ruff for consistent formatting
  .pre-commit-config.yaml
  pyproject.toml
Due: check-secrets

Check TOML files for non-ASCII characters and improve formatting
  .pre-commit-config.yaml
  pyproject.toml
  tests/simple_server.py
Due: check-secrets

Fix e2e tests by updating tool names and fixing connection handling
  tests/e2e/test_mcp_google_suite.py
Due: check-secrets

Fix code formatting and linting issues
  src/mcp_gsuite/fast_server.py
  tests/e2e/test_mcp_gsuite.py
Due: check-non-ascii, check-secrets

Fix E2E tests in test_mcp_google_suite.py by standardizing connection pattern and improving error handling
  tests/e2e/test_mcp_google_suite.py
Due: check-secrets

Replace Japanese text with English in test_mcp_google_suite.py
  tests/e2e/test_mcp_google_suite.py
Due: check-secrets

Fix pre-commit configuration to check non-ASCII characters in test files
  .pre-commit-config.yaml
Due: none

Improve E2E tests stability with consistent error handling and connection patterns
  tests/e2e/test_mcp_contacts.py
  tests/e2e/test_mcp_gdrive.py
  tests/e2e/test_mcp_gsuite.py
  tests/e2e/test_mcp_tasks.py
Due: check-secrets

Improve E2E tests with retry logic and proper package structure
  tests/__init__.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_mcp_google_suite.py
Due: check-secrets

Refactor fast_server.py by splitting functionality into separate files
  src/mcp_gsuite/calendar_tools.py
  src/mcp_gsuite/common.py
  src/mcp_gsuite/fast_server.py
  src/mcp_gsuite/gmail_tools.py
Due: check-non-ascii, check-secrets

Update Makefile to use 'uv sync' for dependency management and add 'pytest-asyncio' and 'chuk-mcp' to project dependencies in pyproject.toml and uv.lock
  Makefile
  pyproject.toml
  uv.lock
Due: check-secrets

Improve e2e tests by sharing OAuth token across test session
  tests/e2e/conftest.py
  tests/e2e/test_google_auth.py
  tests/e2e/test_mcp_gsuite.py
Due: check-secrets

Update GitHub Actions workflow to use 'uv sync --dev' for dependency installation
  .github/workflows/test.yml
Due: check-secrets

Add 'uv venv' command to GitHub Actions workflow for virtual environment setup
  .github/workflows/test.yml
Due: check-secrets

Fix lint and type errors
  .secrets.baseline
  Makefile
  pyproject.toml
  scripts/get_refresh_token.py
  src/mcp_gsuite/__version__.py
  src/mcp_gsuite/auth_helper.py
  src/mcp_gsuite/calendar.py
  src/mcp_gsuite/fast_server.py
  src/mcp_gsuite/gauth.py
  src/mcp_gsuite/gmail.py
  src/mcp_gsuite/settings.py
  tests/e2e/test_gmail_api.py
  tests/e2e/test_mcp_google_suite.py
  tests/simple_server.py
  tests/test_simple_server.py
  uv.lock
Due: check-non-ascii, check-secrets

Update pre-commit config to exclude .secrets.baseline
  .pre-commit-config.yaml
Due: none

Add pre-push hook to run tests before pushing
  .pre-commit-config.yaml
Due: none

Fix pre-push hook configuration with migrate-config
  .pre-commit-config.yaml
Due: none

Test pre-push hook
  README.md
Due: check-secrets

Remove simple_server test files
  tests/simple_server.py
  tests/test_simple_server.py
Due: check-secrets

Fix pre-push hook to accept no tests
  .pre-commit-config.yaml
Due: none

Add unit tests for GmailService and gauth module with complete API mocking
  tests/unit/__init__.py
  tests/unit/test_gauth.py
  tests/unit/test_gmail_service.py
Due: check-secrets

Add .coverage to .gitignore to exclude coverage files from version control
  .gitignore
Due: check-secrets

Fix mypy type checking errors in unit tests and add mypy.ini configuration
  mypy.ini
  tests/unit/test_gmail_service.py
Due: check-secrets

Add types-pytz dependency to pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: check-secrets

Update mypy.ini to fix remaining type checking errors
  mypy.ini
Due: check-secrets

Add Codecov integration and badge
  .coveragerc
  .github/workflows/test.yml
  README.md
  pyproject.toml
Due: check-secrets

Update uv.lock with new dependencies
  uv.lock
Due: check-secrets

Update .env.devin to include GOOGLE_CREDENTIALS_DIR and modify GSUITE_CREDENTIALS_JSON; add credentials/ to .gitignore
  .env.devin
  .gitignore
Due: check-secrets

Update .gitignore to exclude e2e_test_credentials.json and simplify E2E test commands in Makefile
  .gitignore
  Makefile
Due: check-secrets

Remove deprecated Gmail API specification file and add new OpenAPI spec for Gmail API in YAML format.
  docs/gmail-api-openapi-spec.yaml
  docs/google-calendar-api-openapi-spec.yaml
  docs/google-drive-api-v3.yaml
  gmail.v1.json
Due: check-secrets

Add unit tests for MCP tools
  tests/unit/mocks/context_mock.py
  tests/unit/test_calendar_tools.py
  tests/unit/test_gmail_tools.py
Due: check-secrets

Path conditions:
  check-non-ascii: any of: \.py$, but not: tests/.*|.*/test_.*\.py
  check-secrets: any file but: credentials/.*|\.pre-commit-config.yaml|Makefile|\.git/
